extends layout

block head
  link(rel='stylesheet', href='/stylesheets/checkin.css')

block content
  include header

  #main.row
    each val,index in grp
      .group.col-xs-12.col-md-3(id= 'grp'+index)
        .thumbnail
          .captain
            h3= val
            .row

block script
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/checkin.js')
  script(type='text/template')#template
    include userTmp
    