nav#header.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
  .navbar-header
    a.navbar-brand
      |CHECK IN
  .collapse.navbar-collapse
    button#random.btn.btn-default.navbar-btn.navbar-right(type='button')
      |RANDOM
      