extends layout

block head
  // index用設定 ここから
  meta(property='og:title', content='FY11')
  meta(property='og:type', content='website')
  meta(property='og:image', content='http://fy11.cloudapp.net/images/B784_tokyowanmagic_thumbnail.png')
  link(rel='stylesheet', href='/stylesheets/style.css')
  // index用設定 ここまで
  
block content
  #cover
    .text
      h3
        |FY11 New Year&rsquo;s Party
      h4
        |2014.01.25(Sat.)
    // #sns
      // a(href='http://www.facebook.com/sharer.php?u=http://fy11.cloudapp.net/', target='_blank')
      //   img(src='/images/fb_hex.png')
      // img(src='/images/g_hex.png')
      // img(src='/images/tw_hex.png')
        
  #main
    #contents.row
      .col.col-md-4
        img.img-thumbnail(src='/images/beer.jpg')
        h3
          |About
        .text
          p
            |FY11同士の交流を深めるためのページを立ち上げました。
            br
            |様々な情報を発信していきます。
          p
            |3年目新年会に参加希望の方は、
            a(href='https://www.facebook.com/kohei.yamauchi.169', target='_blank')
              |Kohei Yamauchi
            |までメッセージをお送りください。
            br
            |ご連絡済の方はメッセージは不要です。
              
      .col.col-md-4
        img.img-thumbnail(src='/images/map.jpg')
        h3
          |Location
        .text
          |DININGBAR OASIS
          br
          |&#12306;105-0004 東京都港区新橋3-15-8 精工ビルB1
          br
          |JR新橋駅 烏森口 徒歩3分
          br
          a.btn.btn-default.btn-xs(href='http://r.gnavi.co.jp/a403700/', target='_blank')
            |ぐるなびを見る
          |&nbsp;
          a.btn.btn-default.btn-xs(href='https://www.google.co.jp/maps/preview?hl=ja#!q=%E6%9D%B1%E4%BA%AC%E9%83%BD%E6%B8%AF%E5%8C%BA%E6%96%B0%E6%A9%8B3-15-8+%E7%B2%BE%E5%B7%A5%E3%83%93%E3%83%ABB1&data=!4m15!2m14!1m13!1s0x60188bea4f1b4c9d%3A0x9ad75ada98d1fb7c!3m8!1m3!1d246597!2d139.710388!3d35.673343!3m2!1i1617!2i913!4f13.1!4m2!3d35.6653446!4d139.7558044', target='_blank')
            |地図を見る

      .col.col-md-4
        img.img-thumbnail(src='/images/mba.jpg')
        h3
          |Hackers
        .text
          p
            a(href='https://www.facebook.com/hideo.ebina', target='_blank')
              |Hideo Ebina
            |,&nbsp;
            a(href='https://www.facebook.com/takahiro.kato.9406', target='_blank')
              |Takahiro Kato,
            br
            a(href='https://www.facebook.com/taro.kawazoe.5', target='_blank')
              |Taro Kawazoe
            |,&nbsp;
            a(href='https://www.facebook.com/yuji.yamaguchi.1224', target='_blank')
              |Yuji Yamaguchi
          p(style='font-size:10px')
            |仲間募集中...

    nav#footer.navbar.navbar-inverse.navbar-static-top(role='navigation')
      |Copyright © 2014 - FY11 Members.
      br
      |Powered by Jyoshi.

block script
  // index用script ここから
  // google analytics設定
  script
    |(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    |(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    |m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    |})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    |ga('create', 'UA-46726710-1', 'cloudapp.net');
    |ga('send', 'pageview');
  script(src='/javascripts/main.js')
  script(type='text/template')#template
    include template
  // index用script ここまで
