html, body
  position relative
  width 100%
  height 100%
  margin 0px
  padding 0px
  float left

#cover
  position fixed
  width 100%
  height 100%
  float left
  text-align center
  color #fff
  background-image url('/images/wangan.png')
  background-size cover
  background-position center center
  background-repeat no-repeat
  background-attachment fiexd
  // z-index -100

  .text
    position relative
    width 100%
    float left
    top 40%

  #sns
    position absolute
    width 100%
    top 0px
    float left
    text-align right
    margin-top 10px

    img
      position relative
      float right

#main
  position absolute
  width 100%
  top 100%
  float left
  text-align center
  
  #contents
    position relative
    width 100%
    float left
    background-color #fff
    margin 0px

    .col
      position relative
      padding 15px
      float left
      border-top solid 1px #ddd

      img
        position relative
        width 111px
        height 111px
        float left

      h3
        position relative
        width 50%
        height 111px
        line-height 111px
        margin 0px
        float left

      .text
        position relative
        width 100%
        float left
        padding 10px 5px
        text-align left

        
    
  #footer
    position relative
    width 100%
    float left
    font-size 11px
    line-height 25px
    color #fff
    margin 0px
